@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {

    body {
        background-image: linear-gradient(to top, #00db89, #00DBD3);
    }

    section#login {
        width: 80vw;
        height: 100vh;
    }

    section#login div#imagem {
        float: left;
        width: 44.4%;
        height: 500px;
        background-image: url(../imagens/Lamborghini\ Aventador\ SVJ\ Tablet\ 3.png);
    }

    section#login div#formulario {
        float: right;
        width: 47%;
    }
}

@media screen and (min-width: 992px) {
    body {
        background-image: linear-gradient(to top, #00db89, #00dbd3);
    }

    section#login {
        width: 950px;
    }

    section#login div#imagem {
        float: right;
        height: 500px;
        width: 44.4%;
    }

    section#login div#formulario {
        float: left;
        width: 50%;
    }

    div#formulario h1 {
        font-size: 2em;
    }

    div#formulario p {
        font-size: 1.2em
    }
}