@charset "UTF-8";

/*  Paleta de cores 
    Verde mais escuro: 00DB89
    Azul mais claro: 23A8DB
    Azul marinho: 00DBD3
    Verde claro: 11DC4C
    Azul forte: 00DBD3
*/

* {
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

body, html {
    background-color: #00DBD3;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;

    background-color: white;
    width: 250px;
    height: 490px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.450);
    
    transform: translate(-50%, -50%);
    transition: width 0.3s, heigth 0.3s;
    transition-timing-function: ease;
}


section#login > div#imagem {
    display: block;
    background: #00DBD3 url(../imagens/Lamborghini\ Aventador\ SVJ.png) no-repeat;
    background-size: cover;
    background-position: center;
    height: 200px;
    overflow: hidden;
}

section#login > div#formulario {
    display: block;
    padding: 5px;
}

div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p {
    font-size: 0.8em;
}

form > div.campo {
    display: block;
    background-color: #274f5f;
    border: 2px solid #23A8DB;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    margin: 5px 0px;
}

div.campo > label {
    display: none;
}

div.campo > span {
    color: white;
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

div.campo > input {
    background-color: #b4e2c1;
    font-size: 1em;
    width: calc(100% - 45px);
    height: 100%;
    border: 0px;
    border-radius: 8px;
    padding: 4px;
    transform: translatey(-12.5px);
}

div.campo > input:focus-within {
    background-color: white;
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #13a33c;
    color: white;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

form > input[type=submit]:hover {
    background-color: #0f6327;
}

form > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 7px;
    margin-top: 5px;
    background-color: #da3d21;
    color: white;
    border: 1px solid #23A8DB;
    border-radius: 8px;
    text-decoration: none;
}

form > a.botao:hover {
    background-color: #9c0000;
}


form > a.botao > span {
    font-size: 0.8em;
}